<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBHWVWJncD7O7MQQj_8iulTvYYe4x1S2Bg</string>
	<key>GCM_SENDER_ID</key>
	<string>497558927491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mave.mave2</string>
	<key>PROJECT_ID</key>
	<string>mave-app-7787e</string>
	<key>STORAGE_BUCKET</key>
	<string>mave-app-7787e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497558927491:ios:ebca9089ed33f33cce43b6</string>
</dict>
</plist>